footer.main-footer
	.pull-right.hidden-xs
		b Pi-hole Version 
		span#piholeVersion v2.11.1
		b Web Interface Version 
		span#webVersion v2.3.1
	div
		i.fa.fa-github
		strong
			a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3J2L3Z4DHW9UY') Donate
		|  if you found this useful.