.mainbox.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
	.panel.panel-default
		.panel-heading
			div(style='text-align: center;')
				if PCONFIG.boxedLayout
					img(src='img/logo.svg', width='50%')
				else
					img(src='img/logo.svg', width='30%')
			br
			.panel-title.text-center
				span.logo-lg(style='font-size: 25px;')
					b Pi
					| -hole
			p.login-box-msg Sign in to start your session
			if PCONFIG.wrongPassword
				.form-group.has-error.login-box-msg
					label.control-label
						i.fa.fa-times-circle-o
						|  Wrong password!
		.panel-body
			form#loginform(action='/login', method='post')
				.form-group.has-feedback(class=PCONFIG.wrongPassword?"has-error":"")
					input#loginpw.form-control(type='password', name='pw', placeholder='Password', autofocus='')
					span.glyphicon.glyphicon-lock.form-control-feedback
				.row
					.col-xs-8
						ul
							li
								tt Return
								|  → Log in and go to requested page (
								| )
							li
								tt Ctrl+Return
								|  → Log in and go to Settings page
					.col-xs-4
						button.btn.btn-primary.pull-right(type='submit', href='#')
							i.glyphicon.glyphicon-log-in
							|    Log in
				br
				.row
					.col-xs-12
						.box.box-solid(class=PCONFIG.wrongPassword?'box-danger':'box-info collapsed-box')
							.box-header.with-border
								h3.box-title Forgot password
								.box-tools.pull-right
									button.btn.btn-box-tool(type='button', data-widget='collapse')
										i.fa(class=PCONFIG.wrongPassword?'fa-minus':'fa-plus')
							.box-body
								| After installing Pi-Hole for the first time, a password is generated and displayed to the user. The
								| password cannot be retrived later on, but it is possible to set a new password (or explicitly disable
								| the
								| password by setting an empty password) using the command
								pre.
									\nsudo pihole -a -p newpassword									
