mixin sidebar_menu_item(link,title,icon,active)
	li(class=active?'active':'')&attributes(attributes)
		a(href=link)
			i.fa(class!=icon)
			span= title

aside.main-sidebar
	// sidebar: style can be found in sidebar.less
	section.sidebar
		// Sidebar user panel
		.user-panel
			.pull-left.image
				img.img-responsive(src='static/img/logo.svg', alt='Pi-hole logo', style='display: table; table-layout: fixed; height: 67px;')
			.pull-left.info
				p Status
				a#status(href='#')
					i.fa.fa-circle(style='color:#7FFF00')
					|  Active
				a#temperature(href='#')
					i.fa.fa-fire(style='color:#FF0000')
					|  Temp: 60.1°C
				br
				a(href='#')
					i.fa.fa-circle(style='color:#7FFF00')
					|  Load:  1.18  1.07  1.02
				br
				a(href='#')
					i.fa.fa-circle(style='color:#7FFF00')
					|  Memory usage:  17.2%
		// sidebar menu: : style can be found in sidebar.less
		ul.sidebar-menu
			li.header MAIN NAVIGATION
			// Home Page
			+sidebar_menu_item("/home","Main Page","fa-home",PCONFIG.activePage=="home")
			if !PCONFIG.user.authenticated
				// Login
				+sidebar_menu_item("/Login","Login","fa-user",PCONFIG.activePage=="login")
			if PCONFIG.user.authenticated
				// Query Log
				+sidebar_menu_item("/queries","Query Log","fa-file-text-o",PCONFIG.activePage=="queries")
				// Whitelist
				+sidebar_menu_item("/list?l=white","Whitelist","fa-pencil-square-o",PCONFIG.activePage=='whitelist')
				// Blacklist
				+sidebar_menu_item("/list?l=black","Blacklist","fa-ban",PCONFIG.activePage=='blacklist')
				// Toggle
				li#pihole-disable.treeview
					a(href='#')
						i.fa.fa-stop
						span Disable
						span#flip-status-disable
						span.pull-right-container
							i.fa.fa-angle-down.pull-right(style='padding-right: 5px;')
					ul.treeview-menu
						+sidebar_menu_item("#","Permanently","fa-stop")#pihole-disable-permanently
						+sidebar_menu_item("#","For 10 seconds","fa-clock-o")#pihole-disable-10s
						+sidebar_menu_item("#","For 30 seconds","fa-clock-o")#pihole-disable-30s
						+sidebar_menu_item("#","For 5 minutes","fa-clock-o")#pihole-disable-5m
					// <a href="#" id="flip-status"><i class="fa fa-stop"></i> <span>Disable</span></a>
				li#pihole-enable.treeview(hidden='true')
					a(href='#')
						i.fa.fa-play
						span Enable
						span#flip-status-enable
				// Tools
				li.treeview
					a(href='#')
						i.fa.fa-folder
						span Tools
						span.pull-right-container
							i.fa.fa-angle-down.pull-right(style='padding-right: 5px;')
					ul.treeview-menu
						// Run gravity.sh
						li
							a(href='gravity')
								i.fa.fa-arrow-circle-down
								span Update Lists
						// Query adlists
						li
							a(href='queryads')
								i.fa.fa-search
								span Query adlists
						// Tail pihole.log
						li
							a(href='taillog')
								i.fa.fa-list-ul
								span Tail pihole.log
				// Settings
				+sidebar_menu_item("/settings","Settings","fa-gears")
				// Logout
				+sidebar_menu_item("/logout","Logout","fa-user-times")
			// Login
			// Donate
			+sidebar_menu_item("https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3J2L3Z4DHW9UY","Donate","fa-paypal")
			if PCONFIG.user.authenticated
				// Help
				+sidebar_menu_item("help","Help","fa-question-circle")
	// /.sidebar
