mixin smallbox_with_icon(anchorId,subtitle,icon)
	.small-box&attributes(attributes)
		.inner
			h3.statistic(id!=anchorId) ---
			p= subtitle
		.icon
			i.ion(class!=icon)
		.overlay
			i.fa.fa-refresh.fa-spin